{% extends '/base.html' %}

{% block content%}
<h1> Add user  </h1>
<p> {{info}} </p>


  <form action="{{ url_for('create_user') }}" method="get" style="width:30%">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" class="form-control" id="name"  placeholder="Name">
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input name="lastname" class="form-control" id="lastname" placeholder="Lastname">
    </div>

    <button type="submit" class="btn btn-primary">Add user</button>
  </form>
   
    <a class="btn btn-primary" href="{{ url_for('create_fake_user') }}"  role="button"> Add fake user </a>
  

{% endblock %}